.panel-title {
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #37465a;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
}

.panel-decription {
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #37465a;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
}

.panel-coditions {
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #37465a;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
}

siigo-input-atom {
    margin-bottom: 20px !important;
}

siigo-button-atom {
    width: 100%;
}
