.panel-container {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 30px;

    &.left {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }
}
